<header>
    <a href="#" class="logo "><img src="https://lh3.googleusercontent.com/TgtyFDn63Wgg0ztrzKB1KSkAWFsSnlXTxPh6lufqmt_xGndnGidoAZ2APdXANlBE_7uqr8Q8KAmIxLEBA3ERFZs7JtVvQoPEPzdDcv_0oahynqi4v-PL8ExUrjDlnC_si_AkbV39O2tHRpyCkLmQ8lS543E0pIY7m7e0_j3fhbhd3DpP3Oj8ic5BPiUNybsjaFg3kkZposbxop-Ds5JRXphiw9mY3hYPCPqaiQ_x41zjhl4ey9TDOTef5-4XwiiTWrBPT4JX8a8fhhyxvlQDyRildUNtKrbqQsq1ZEmkFVnf_1HYgM2LJpB59INW4IFw-ioJCiORb1w_Qo1y7EZKYWgYNInk4qxRvsp7mc6k2dFsm9t2PohBkOzqlcLUYMy7bSUtsJl8An9rghlW3mI-UAIslCDPosBfD2ST-nG0KbSrdif5-7bQ6L2J2vyNBBhttT9xc63phj8aMlj1_TKKLq335s3h4dQcOEu4dIwZrRoRvoMwKm8yvEsdnFIobPlh5Wgl7k4LAG55uDRFQt7Zv_COreii_HTizegu603REQgU_5XEdCV7fGkv9uTtNaZ5jebvybNDynJ_ZuqssKUiHBEVx7Aaz3_oo0O0fdx2bz-7I-r0gW6XbuBcH3JxRA-TE3mXXLrwj3FznOT7th9rXjL7xyPhhvk2FzLl7DwUi-J9VwHaGn12Pf0o6eYESA=w200-h54-no?authuser=0"></a>
    <ul class="navigation">
        <li><a href="index.html">Cartelera</a></li>
        <li><a href="proximamente.html">Proximos estrenos</a></li>
        <li><a href="info.html">Cine</a></li>
        <li><a href="contacto.html">Contacto</a></li>
    </ul>
</header>